body {
  background-color: #483D8B;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

#buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.choice {
  background-color: #DA70D6;
  color: white;
  padding: 14px 20px;
  width: 150px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.choice:hover {
  background-color: #3E8E41;
}

#result, #score {
  margin-top: 20px;
  font-size: 20px;
}

#score {
  font-weight: bold;
}
